# Archivos de sistema
.DS_Store
Thumbs.db

# Archivos de configuración de editores
.vscode/
.idea/

# Archivos de dependencias (para el futuro)
node_modules/

# Archivos de entorno (para contraseñas y claves de API)
.env
*.env.local

# Registros y logs
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*